.idea
.idea/workspace.xml
.idea/vcs.xml
.idea/scopes/scope_settings.xml
.idea/request.iml
.idea/modules.xml
.idea/misc.xml
.idea/encodings.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/dataSources.ids
.idea/.name
conf/
gunicorn.conf.py
venv
myenv
local_settings.py
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
.vscode
db.sqlite3
media/